html {
    scroll-behavior: smooth;
  }

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Hanken Grotesk', sans-serif;
}

section, .header-introduction {
  width: 100%;
  padding: 5%;
  border: 1px solid red;
}

/* header  */

.header-introduction {
  text-align: center;
}

.header-image {
  border: 1px solid blue;
}

.header-name {
  font-size: 3.5em;
  letter-spacing: .6rem;
  border: 1px solid blue;
}

.header-title {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: .1rem;
  border: 1px solid blue;
}

/* welcome section */

@media all and (max-width: 650px) {
  .header-name {
    font-size: 2.5em;
  }  

  .header-title {
    font-size: 1.3em;
  }
}

@media all and (max-width: 500px) {
  .header-name {
    font-size: 2em;
    letter-spacing: .3rem;
  }

  .header-title {
    font-size: 1em;
  }
}

@media all and (max-width: 375px) {
  .header-name {
    font-size: 1.7em;
  }  

  .header-title {
    font-size: .8em;
  }
}