html {
    scroll-behavior: smooth;
  }

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Hanken Grotesk', sans-serif;
}

h1 {
  font-size: 2em;
  letter-spacing: .6rem;
  text-transform: uppercase;
}

section, .header-introduction {
  width: 100%;
  padding: 5%;
}

p {
  font-size: 20px;
}

button, a {
  background-color: #313F2E;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  border: none;
}

/* navbar  */
.navbar {
  background-color: #313F2E;
  width: 100%;
  margin: 0;
}

/* header  */
.header-introduction {
  text-align: center;
  margin-bottom: 7%;
}

.header-image {
  position: relative;
}

.header-name, .header-title {
  position: absolute;
  left: 50%;
  width: 100%;
  margin-left: -50%;
}

.header-name {
  font-size: 3.5em;
  letter-spacing: .6rem;
  top: 42%;
  text-align: center;
}

.header-title {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: .1rem;
  top: 55%;
}

/* about me */

.about-me, .projects {
  background-color: #F8F8F8;
}

.about-me-image {
  float: right;
  width: 35%;
  padding: 0 0 3% 3%;
}

/* skills grid */

.skills {
  display: flex;
  justify-content: space-around;
}

.skills-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-items > li {
  padding: 20px;
  background-image: url("./img-v2/check-mark.png");
  background-repeat: no-repeat;
  background-position: 1px;
  padding-left: 50px;
}

/* projects */

.left-aligned-project, .right-aligned-project {
  display: flex;
  align-items: center;
  margin: 5% 0;
}

.right-aligned-project {
  flex-direction: row-reverse;
}

.left-aligned-project-info, .right-aligned-project-info {
  display: flex;
  flex-direction: column;
}

.left-aligned-project-info > p, .left-aligned-project-info > h2, .left-aligned-project-info > ul {
  text-align: right;
}

.right-aligned-project-info > p, .right-aligned-project-info > h2, .right-aligned-project-info > ul {
  text-align: left;
}

.left-aligned-project-info > h2, .right-aligned-project-info > h2 {
  color: #313F2E;
  text-transform: uppercase;
}

.left-aligned-project-info > p, .right-aligned-project-info > p {
  background-color: #313F2E;
  color: white;
  position: relative;
  width: 140%;
  z-index: 3;
  padding: 4%;
  right: 20%;
  margin-left: -20%; 
  margin-bottom: 7%;
  border-radius: 10px;
}

.left-aligned-project-info > p {
  right: 20%;
  margin-left: -20%; 
}

.right-aligned-project-info > p {
  left: 20%;
  margin-right: -20%; 
}

.left-aligned-project-info > ul, .right-aligned-project-info > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-aligned-project-info > ul > li, .right-aligned-project-info > ul > li {
  display: inline-block;
  background-color: #313F2E;
  color: white;
  width: fit-content;
  padding: 5px;
  margin: 5px 3px;
  border-radius: 10px;
}

.left-aligned-project-links {
  margin: 7%;
  text-align: right;
}

.right-aligned-project-links {
  margin: 7%;
  text-align: left;
}

.left-project-image, .right-project-image {
  max-width: 750px;
  opacity: 0.6;
  transition: opacity 2s;
  border: 2px solid #313F2E;
  border-radius: 10px;
  height: 400px;
  object-fit: fill;
}

.left-project-image:hover, .right-project-image:hover {
  opacity: 1; 
}

/* media queries */

@media all and (max-width: 900px) {
  .about-me-image {
    width: 50%;
  }

  .skills {
    display: block;
  }

  .skills-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .left-aligned-project, .right-aligned-project {
    display: block;
    border-radius: 10px;
    background-color: white;
  }

  .left-project-image, .right-project-image {
    display: none;
  }

  .left-aligned-project-info, .right-aligned-project-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-aligned-project-info > p {
    width: 90%;
    margin-left: 0;
    position: static;
    text-align: center;
  }

  .right-aligned-project-info > p {
    width: 90%;
    position: static;
    text-align: center;
  }

  .left-aligned-project-info > ul, .right-aligned-project-info > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
  }

  .left-aligned-project-info > h2, .right-aligned-project-info > h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 10%;
  }
}

@media all and (max-width: 650px) {
  .header-name {
    font-size: 2.5em;
  }  

  .about-me-image {
    width: 100%;
    padding: 3% 0;
  }

  .header-title {
    font-size: 1.3em;
    top: 53%;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 19px;
  }
}

@media all and (max-width: 500px) {
  .header-name {
    font-size: 2em;
    letter-spacing: .3rem;
    top: 45%;
  }

  .header-title {
    font-size: 1em;
    top: 54%;
  }
}

@media all and (max-width: 400px) {
  .header-name {
    font-size: 1.7em;
    top: 40%;
  }  

  .header-title {
    font-size: .8em;
    top: 48%;
  }

  .header-title, .header-name {
    width: 90%;
    margin-left: -45%;
  }

  .header-image {
    width: 310px;
    margin: 0 auto;
  }

  .skills-items {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 330px) {
  .header-title, .header-name {
    width: 85%;
    margin-left: -38%;
  }
}